.front {
  display: grid;
  grid-template-columns: repeat(20, auto);
}
.box {
  width: 15px;
  height: 15px;
  background-color: rgb(207, 87, 87);
  border: 1px solid black;
  margin: 0.1rem;
}

.box:hover {
  opacity: 0.6;
}

.boxclicked {
  background-color: rgb(80, 3, 3);
}
