:root {
  --first: orange;
  --second: red;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: grid;
  place-items: center;
  padding: 1px;
  background: var(--first);
}

.quiz-box {
  position: absolute;
  top: 30%;
  left: 35%;
  text-align: center;
  width: 50vh;
  padding: 5rem;
  /* visibility: hidden; */
  border: 1px solid;
  border-radius: 20px;
  background-color: grey;
  box-shadow: none;
}

.btn-txt {
  background-color: yellow;
  color: black;
  margin: 2rem;
  padding: 2rem;
  border-style: hidden;
  border-radius: 50%;
}
